header {
  background: linear-gradient(#313131, #131313);
  .logo {
    width: 214px;
    height: 100px;
    background: linear-gradient(rgba(13, 13, 13, 0.1), rgba(13, 13, 13, 0.3)),
      url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Netflix_logo.svg/320px-Netflix_logo.svg.png);
    background-size: contain;
  }
  nav {
    display: flex;
    align-items: center;
    .nav__list {
      display: flex;
      gap: 15px;
      .nav__item {
        .nav__link {
          color: #e5e5e5;
          font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
          &:hover {
            color: #b3b3b3;
          }
          text-decoration: none;
        }
      }
    }
  }
}

.header,
.nav__list {
  display: flex;
  justify-content: space-between;
}
